.mui-table-cell {
  display: block;
}

.cart_item {
  height: 110px;
}
.cart_img {
  width: 60px;
  height: 90px;
  float: left;
}
.cart_img img {
  width: 60px;
  height: 60px;
}

.cart_info {
  height: 90px;
  overflow: hidden;
  padding: 0 10px;
}
.cart_info .pro_name {
  color: #333;
  padding-bottom: 5px;
  height: 48px;
}
.cart_info .price {
  color: red;
}
.cart_info .old {
  text-decoration: line-through;
}




.lt_total {
  width: 100%;
  position: absolute;
  bottom: 55px;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #ccc;
  z-index: 999;
  background-color: #eee;
  font-size: 12px;
  padding-left: 10px;
  color: red;
}
.lt_total .btn_order {
  padding: 0 15px;
  color: white;
  background-color: red;
}


.lt_container {
  padding-bottom: 85px;
}


.lt_size {
  text-align: left;
}
.lt_num {
  text-align: left;
}